@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>
@section scripts{
<script type="text/javascript">
        $(document).ready(function () {
         
    });
</script>
}
<div class="row">
    <div class="col-12"> Hi! My name is Jewel Alendri. I am beginner .net developer.
    </div>
</div>
<div class="row">
    <div class="col-12"> My GitHub link is <a href="https://github.com/jleenR">here</a>
    </div>
</div>
